<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Visually">
<listeners>

	<listener class-name="com.Visual.ly.utilities.Reporting" />
	
</listeners>

<test name="Visually Test">
<parameter name="browser" value="chrome" />

<parameter name="server" value="Stage" /> 

<classes>
	<class name="com.Visual.ly.testCases.TC_LoginTest_001" />
	<class name="com.Visual.ly.testCases.TC_Logout_002" />
	<class name="com.Visual.ly.testCases.TC_CreateQuote_101" />
	
	
</classes>

</test>


</suite>